@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100&display=swap');

.menuNav {
    grid-area: menu;
    background-color: #348f41;
    padding-top: 20%;
    font-family: 'Commissioner', sans-serif;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #373737;
}

.sidenav p {
    font-size: 17px;
    color: black;
}

.item {
    padding: 5%;
    position: relative;
    margin-top: 8%;
    border-top: 3px solid whitesmoke;
}

@media only screen and (max-width: 1100px) {
    .menuNav {
        padding-top: 0;
    }

    .menuNav h3 {
        font-size: 20px;
    }

    .sidenav p {
        font-size: 17px;
    }

    .item {
        padding: 0;
        padding-top: 1%;
    }
}