.topnav {
    grid-area: header;
    background-color: #80bc00;
    display: flex;
    flex-wrap: wrap;
}

.title {
    width: 83%;
    height: 100%;
    color: whitesmoke;
    padding-left: 1%;
}

.title h1 {
    text-decoration: underline;
}

.logo {
    width: 7%;
    height: 100%;
    padding: 5px;

}

.logoImg {
    width: 100%;
    height: 100%;
    background-image: url("logo_48.png");
    background-size: 100% 100%;
    image-rendering: pixelated;
}

.userWrapper {
    width: 10%;
    height: 100%;
    padding: 8px;
}
