$bg-color: white;
$dot-color: #348f41;

// Dimensions
$dot-size: 1.26px;
$dot-space: 22px;
.content {
  grid-area: main;
  background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
  linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
  $dot-color;
  background-size: $dot-space $dot-space;
}